<% if !params[:promo].blank? && session[:promo].downcase == "vip" %>
    <%= link_to "Preview in Browser", session[:promo], class: "js-overlay__opt-out overlay__opt-out ga-preview-event" %>
<% else %>
    <a href="/" class="js-overlay__opt-out overlay__opt-out ga-preview-event">Preview in Browser</a>
<% end %>

<div class="overlay__content">
    <p>Adding Luckee to your home screen makes our site full screen &amp; improves the gaming experience</p>
    <img class="overlay__logo" src="/assets/logo-144.png">
    <h1 class="overlay__title">Luckee</h1>
    <p>To install, tap <img class="overlay__bookmark" src="/assets/bookmark.png"> and choose</p>
    <p>"Add to Home Screen"</p>
</div><!-- /.overlay__content -->

<i class="overlay__down-arrow ios fa fa-long-arrow-down"></i>
