<a href="/" class="overlay__back-to-dash"><img class="home-icon--small" src="/assets/home_icon.png"></a>

<div class="rotate-dialogue">
            <i class="fa fa-repeat rotate__icon"></i>
            <h1 class="rotate__title">Please rotate your screen to play!</h1>
</div><!-- /.rotate-dialogue -->
