<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	It is the lottery except you dont buy tickets, you can earn them.  
	A "credit" is essentially a lottery ticket
	You play games to earn credits
	Your credits belong to you. You can deposit your credits into the "jackpot" where all users deposit their credits. Once the jackpot is full we randomly select a winner. So, essentially a credit is like having a slip of paper with your name on it in a hat and us drawing one user to win the pot. The more credits you have in the pot, the better chance you have to win.
	The winner is drawn when the pot reaches 100% capacity.
</p>