<% content_for :body_class, "affiliate-page" %>

<div>
    <h1 class="affiliate-page__copy">You earned +25 points!</h1>
    <img class="affiliate-page__logo" src="/assets/bellhops.jpg">
    <img class="affiliate__logo" src="/assets/bellhops_logo.png">
    <a class="affiliate-page__link affiliate-page__link--bh" href="https://getbellhops.com/about/careers"><span class="link--underline">Apply now</span> to get all three!</a>
</div>

<div>
    <%= link_to "Return to games", root_path, class: "btn--homepage btn--homepage-purple" %>
</div>
