<% content_for :body_class, "affiliate-page" %>

<div>
    <h1>You earned +25 points!</h1>
    <h2>Bellhops</h2>
    <img src="/assets/bellhops.jpg">
    <a href="https://getbellhops.com/about/careers">Apply now to get all three!</a>
</div>

<div>
    <%= link_to "Return to games", root_path %>
</div>
