<% content_for :body_class, "interior-page" %>

<% provide(:title, 'Redeem') %>
<div class='my-balance'>
  <div class='redeem'>
    <i class="fa fa-usd redeem__dollars"></i>
    <div class="redeem__copy">
      <p class="redeemCredits">My balance: <span class='credits'>
      <%= current_user.credits.blank? ? "0" : current_user.credits %></span>
      <p class="redeemCredits__desc">Donate credits to help PAWS</p>
    </div>
  </p>

  </div>
</div>
<div class='inner-page__list inner-page__list-banner'>
    <p class="page-title">Select donation amount</p>
  <ul>
    <%= link_to donate_credits_path(credits: 1000) do %>
      <li style="background-image: url(/assets/paws_2.jpg);">
        <h1 class="list-item__title">$5</h1>
        <span class='cash-out__cost'>-1000 credits</span>
        <i class="fa fa-angle-right"></i>
      </li>
    <% end %>
    <%= link_to donate_credits_path(credits: 1950) do %>
      <li style="background-image: url(/assets/paws_1.jpg);">
        <h1 class="list-item__title">$10</h1>
        <span class='cash-out__cost'>-1950 credits</span>
        <i class="fa fa-angle-right"></i>
      </li>
    <% end %>
    <%= link_to donate_credits_path(credits: 3900) do %>
      <li style="background-image: url(/assets/paws_3.jpg);">
        <h1 class="list-item__title">$20</h1>
        <span class='cash-out__cost'>-3900 credits</span>
        <i class="fa fa-angle-right"></i>
      </li>
    <% end %>
  </ul>
</div>
