<% content_for :body_class, "interior-page" %>

<div class="interior-hero">
  <h1 class="interior-hero__title">Balance: <span class='credits'>
        <%= current_user.credits.blank? ? "0" : current_user.credits %> credits</span></h1>
  <p class="interior-hero__desc">
    Your support provides food, shelter, and expert medical care for thousands of animals and allows us to speak out for countless others. Thank you!
    <span class="byline">-PAWS</span>
  </p>

</div> <!--/.interior-hero -->

<!-- <div class='interior-body'>
  <div class="donations">
    <div class="donations__wrapper">
      <h1 class="donations__caption">Get in the spirit of giving and support PAWS for the holidays!</h1>
      <a class="donations__link donations__link--holiday" href="/donate">Donate Credits</a>
    </div>
  </div> -->

  <section class="card-container card-container--donations">
    <p class="interior-body__caption">Select donation amount</p>
    <%= link_to donate_credits_path(credits: 1000) do %>
      <div class="card-tout">
        <div class="card-inner">
          <h1 class="card__big-title">$5</h1>
          <span class='card__credits card__lower'>-1000 credits</span>
        </div>
      </div>
    <% end %>
    <%= link_to donate_credits_path(credits: 1950) do %>
      <div class="card-tout">
        <div class="card-inner">
          <h1 class="card__big-title">$10</h1>
          <span class='card__credits card__lower'>-1950 credits</span>
        </div>
      </div>
    <% end %>
    <%= link_to donate_credits_path(credits: 3900) do %>
      <div class="card-tout">
        <div class="card-inner">
          <h1 class="card__big-title">$20</h1>
          <span class='card__credits card__lower'>-3900 credits</span>
        </div>
      </div>
    <% end %>
  </section>
</div>
