<% provide(:title, 'FAQ') %>
<div class="containter blue">
  <h1 class="arrow">FREQUENTLY ASKED QUESTIONS</h1>


  <p class="faq">+  Wait, how does this work?</p>
  <p class="answer">There are multiple games on our platform, and we'll be adding many more soon!  You earn credits by playing our games.  Once you have accumulated enough credits you can redeem the credits for cash or exclusive rewards.</p>



  <p class="faq">+  Where do the credits get their value?</p>

  <p class="answer">Advertising in our games generates revenue, and then we give that revenue back to you, as you play games, in the form of credits.  We are dedicated to the highest quality and least intrusive ad experience possible, but we do have to make money in order to give you money.</p>

  <p class="faq">+  Do I have to pay to participate?</p>
  <p class="answer">Absolutely not!  We want you to make money while you are playing the games that you enjoy, not spend money!</p>

  <p class="faq">+  How do I receive the money when I cash out?</p>
  <p class="answer">You can request a cash out via Venmo or Paypal.  Don't live in the 21st century?  Not a problem, we'll mail you a check!</p>


  <p class="faq">+  Is there a limit to the amount of money that I can earn?</p>
  <p class="answer">Not at all.  As a matter of fact, we would love to give you all of our money.  </p>

  <p class="faq">+  Hang on dude, what's the deal with the surveys?</p>
  <p class="answer">Surveys are a way of tailoring the ad experience to you, and it's the fastest way to earn credits.  For instance, if you absolutely hate the Twilight movies then we want to make sure we aren't showing you any ads for vampire clothes.  Make sense?  Unfortunately ads are a necessary evil to make money, but since they have to be there for us to give you sweet moo-lah then you might as well see ads for stuff you like. </p>

  </br>

  <%= link_to 'Home', root_path, class: "btn btn-outlined btn-theme btn-white btn-lg" %>
</div>
