<% content_for :body_class, "mobile-home" %>

<div class="sign-up">
    <div class="welcome-box-m">Play free games. Earn real cash.</div>
	  <%# render 'users/form_mobile'%>
</div>
<div class='mobile-home-footer'>
	<div class='footer-links'>
		<a href="/assets/luckee_privacy_policy.pdf"  target="_blank"  class='privacy-link'>Privacy Policy</a>
		<a href="/assets/luckee_TOS.pdf"  target="_blank"  class='terms-link'>Terms of Service</a>
	</div>
</div>
<div class='home-bottom'>
	<div class='mountain-image'>
    	<%= embedded_svg('svgs/mountains.svg', :class => 'mountains') %>
	</div>
	<div class='trees'>
		<%= embedded_svg('svgs/trees_and_low_hills.svg', :class => 'tree-hills') %>
	</div>
	<div class='bottom-content'>
    </div>
</div>
<div class="bottom-content__container">
    <a href="/signup" class="btn--homepage"> Sign up </a>
    <a href="/signin" class="btn--homepage btn--no-fill"> Log in </a>
</div>


<% if Rails.env.production? %>
  <!-- GA Tracking Events -->
  <%= render 'tracking_events/tracking_preview' %>
<% end %>
