<% content_for :body_class, "desktop-home" %>

<section class="landing-page__nav">
    <div class="landing-page__nav--left">
        <a href="/"><img class="landing-page__nav-logo" src="/assets/small_luckee_font.png"></a>
    </div><!-- /.landing-page__nav--left -->
    <div class="landing-page__nav--right">
        <ul class="landing-page__nav-list">
            <li class="landing-page__nav-item"><a href="#how" class="landing-page__nav-link">How It Works</a></li>
            <li class="landing-page__nav-item"><a href="#about" class="landing-page__nav-link">About</a></li>
            <li class="landing-page__nav-item"><a href="#contact" class="landing-page__nav-link">Contact</a></li>
            <li class="landing-page__nav-item"><a href="/signin" class="landing-page__nav-link landing-page__nav-link--login">Sign in</a></li>
        </ul>
    </div><!-- /.landing-page__nav--right -->
</section><!-- /.landing-page__nav -->

<section class="landing-page__landscape">
    <div class="sign-up">
            <% if signups_allowed? %>
                <%= render 'users/form'%>
            <% else %>
                <section class="sign-up__closed">
                    <div class="welcome-box-m">Play free games. Earn real cash.</div>
                    <h1 class="form__title">Thanks for visiting Luckee.  We are in private beta right now, but we invite new users on a first come, first served basis.  Sign up below to gain early access!</h1>
                    <%= render 'static_pages/waitlist_form' %>
                </section>
            <% end %>

            <h1 class="disclaimer--us-only disclaimer--us-only-home">*Currently available in the US only</h1>
    </div><!--/.sign-up -->

    <div class="landing-page__windmill">
        <img class="landing-page__windmill-top" src="/assets/svgs/moving_windmill_part.svg">
        <img class="landing-page__windmill-base" src="/assets/svgs/stationary_windmill_part.svg">
    </div><!-- /.landing-page__windmill -->
    <img class="landing-page__mtns" src="/assets/mountain.png">
</section><!-- /.landing-page__landscape -->

<section id="how" class='landing-page__section landing-page__section--how'>
        <h2 class="section__title">How it Works</h2>
        <div class="how__tout">
            <img src="/assets/landing_icon_1.png" class="how-it-works-image">
            <p class="how-it-works-copy">Play any game to<br/> earn credits</p>
        </div>

        <div class="how__tout">
            <img src="/assets/landing_icon_2.png" class="how-it-works-image">
            <p class="how-it-works-copy">Earn enough<br/> credits to cash <br/> out</p>
        </div>

        <div class="how__tout">
            <img src="/assets/landing_icon_3.png" class="how-it-works-image">
            <p class="how-it-works-copy">Request a cash out!<br/> We will redeem your <br/> credits and send you <br/> cash within 24 hours.</p>
        </div>
</section> <!-- /.landing-page__section--how -->


<section id="about" class='landing-page__section landing-page__section--about'>
        <div class="section__copy--left">
            <h2 class="section__title">About</h2>
        <p class="section__copy">
            Bacon ipsum dolor amet drumstick jerky swine boudin rump, chuck andouille shank corned beef cow. Short loin bresaola kevin tenderloin pork belly, doner landjaeger prosciutto alcatra frankfurter sausage pork chop turkey boudin strip steak. <span>Turducken turkey t-bone ham.</span>
        </p>
        </div>
        <img class="about-img about-img--right" src="/assets/svgs/all-platforms.svg">
</section> <!-- /.landing-page__section--about -->

<section id="contact" class='landing-page__section landing-page__section--contact'>

        <img class="about-img about-img--left" src="/assets/svgs/pigeon.svg">
        <div class="section__copy--right">
        <h2 class="section__title">Contact</h2>
        <p class="section__copy">
            Bacon ipsum dolor amet drumstick jerky swine boudin rump, chuck andouille shank corned beef cow. Short loin bresaola kevin tenderloin pork belly, doner landjaeger prosciutto alcatra frankfurter sausage pork chop turkey boudin strip steak. Turducken turkey t-bone ham.
        </p>
        </div>
</section> <!-- /.landing-page__section--contact -->

<footer class="landing-page__footer">
    <img src="/assets/mwib_font.png" class="footer__img">
    <div class="footer__left">
        <ul class="footer__list">
            <li class="footer__list-item"><a href="/signin" class="footer__link">Sign In</a></li>
            <li class="footer__list-item"><a href="#how" class="footer__link">How It Works</a></li>
            <li class="footer__list-item"><a href="#about" class="footer__link">About</a></li>
            <li class="footer__list-item"><a href="#contact" class="footer__link">Contact</a></li>
        </ul>
    </div><!-- /.footer__left -->

    <div class="footer__right">
        <ul class="footer__list">
            <li class="footer__list-item"><a href="/assets/luckee_privacy_policy.pdf" class="footer__link">Privacy Policy</a></li>
            <li class="footer__list-item"><a href="/assets/luckee_TOS.pdf" class="footer__link">Terms of Service</a></li>
        </ul>
    </div><!-- /.footer__right -->
</footer>

<%= render "shooting_stars" %>
