<% if signed_in? %>
  <div class="row">
    Play a game!
    <br />
    <% @games.each do | g | %>
      <%= link_to 'Play Testgame', g %>
    <% end %>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Alotto</h1>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>