<% if signed_in? %>
<div class="container">
  <div class="row">
    <div style="width:400px;display:inline;float:left;">
      Play a game!
      <br />
      <% @games.each do | g | %>
        <%= link_to "Play #{g.name}", g %> <br/>
      <% end %>
    </div>
    <div style="width:400px;display:inline;float:right;" >
      Prize: <%= @current_jackpot.prize %><br/>
      Jackpot Entries: <%= (@current_jackpot.user_entries.size/@current_jackpot.max_entries) *100 %>%<br/>

      <%= link_to 'Deposit Credits', jackpot_path(@current_jackpot) %>
    </div>
  </div>
</div>
<% else %>

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">

        </div>



      <div class="mastfoot">
        <div class="inner">
          <!-- Validation -->

        </div>
      </div>
    </div>


</div>
</div>









    <!-- <section class="hero_2" id="hero">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center inner">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
          </div>
        </div>
      </div>
    </section>  -->

<% end %>

