<% provide(:title, 'How it works') %>
<div class="containter blue">
  <h1 class="arrow">How it works</h1>


  <p class="faq">Q: Well how does it work?</p>
  <p class="answer">hell if i know</p>


  </br>

  <%= link_to 'Home', root_path, class: "btn btn-outlined btn-theme btn-white btn-lg" %>
</div>
