<% provide(:title, 'How it works') %>
<div class="containter whiteHIW">
  <h1 class="arrow2">How it works</h1>
  <div class="row">
    <div class="span4">
      <%= image_tag "play_games.png" %>
      <p class="HIWfont">Play Games. Earn Cash.</p>
    </div>
    <div class="span4">
      <%= image_tag "deposit_credits.png" %>
      <p class="HIWfont"> Earn enough credits to reach the cash out threshold</p>
    </div>
    <div class="span4">
      <%= image_tag "win_money.png" %>
      <p class="HIWfont"> Request a cash out!  We will redeem your credits and send you cash via Venmo or Paypal within 24 hrs</p>
    </div>
  </div>


    </br>

    <%= link_to 'Home', root_path, class: "btn btn-outlined btn-theme btn-theme btn-lg" %>

</div>
