<% provide(:title, 'Thanks!') %>
<% content_for :body_class, "no-bg" %>

<div class='my-balance'>

	<h2 class="cash-out__title">Thanks for cashing out:  we are reviewing your request and it will be processed within 24 hours</h2>

</div>

