<% content_for :body_class, "marketing-site" %>

<nav class="navigation">
    <div class="navigation__left">
        <a href=""><img src=""></a>
    </div>

    <div class="navigation__right">
        <a class="button" href=""></a>
    </div>
</nav>
