<% content_for :body_class, "interior-page" %>

<div class="interior-hero">
  <h1 class="interior-hero__title">Balance: <span class='credits'>
        <%= current_user.credits.blank? ? "0" : current_user.credits %> credits</span></h1>
  <p class="interior-hero__desc">Redeem your credits. Once you've earned enough credits, trade them in for cash!</p>
</div> <!--/.interior-hero -->

<div class='interior-body'>
  <section class="card-container">
    <p class="interior-body__caption">Choose credits for cashout</p>
    <%= link_to redeem_credits_path(credits: 1000) do %>
      <div class="card-tout">
        <div class="card-inner">
          <h1 class="card__big-title">$5</h1>
          <span class='card__credits card__lower'>-1000 credits</span>
        </div>
      </div>
    <% end %>
    <%= link_to redeem_credits_path(credits: 1950) do %>
      <div class="card-tout">
        <div class="card-inner">
          <h1 class="card__big-title">$10</h1>
          <span class='card__credits card__lower'>-1950 credits</span>
        </div>
      </div>
    <% end %>
    <%= link_to redeem_credits_path(credits: 3900) do %>
      <div class="card-tout">
        <div class="card-inner">
          <h1 class="card__big-title">$20</h1>
          <span class='card__credits card__lower'>-3900 credits</span>
        </div>
      </div>
    <% end %>
  </section>
</div>

