<% provide(:title, 'Redeem') %>
<div class='my-balance'>
	<div class='redeem'>
		<i class="fa fa-usd redeem__dollars"></i>
		<div class="redeem__copy">
			<p class="redeemCredits">My balance: <span class='credits'>
			<%= current_user.credits.blank? ? "0" : current_user.credits %></span>
			<p class="redeemCredits__desc">Redeem your credits for cash</p>
		</div>
	</p>

	</div>
</div>
<div class='cash-out'>
	<p class="page-title">Rewards</p>
	<ul>
		<%= link_to redeem_credits_path(credits: 1000) do %>
			<li>$5
				<span class='cash-out__cost'>-1000 credits</span>
				<i class="fa fa-angle-right"></i>
			</li>
		<% end %>
		<%= link_to redeem_credits_path(credits: 1950) do %>
			<li>$10
				<span class='cash-out__cost'>-1950 credits</span>
				<i class="fa fa-angle-right"></i>
			</li>
		<% end %>
		<%= link_to redeem_credits_path(credits: 3900) do %>
			<li>$20
				<span class='cash-out__cost'>-3900 credits</span>
				<i class="fa fa-angle-right"></i>
			</li>
		<% end %>
	</ul>
</div>
