<% content_for :body_class, "refer-page--mobile no-bg" %>


<% provide(:title, 'Refer') %>
<div class="social-share">
    <h1 class="social-share__title">Get paid just for telling your friends about Luckee! Earn <span class="credits">25 credits</span> for every friend that signs up with your referral link.</h1>

    <input placeholder="Your referral link" class="form-input" type="text" value="<%= request.host_with_port %>/invite/<%=current_user.referral %>">

    <%= render 'static_pages/social_share_mod' %>
</div>
