<% provide(:title, 'Redeem') %>
<div class='my-balance'>
  <p class="intro-copy" >When you invite a friend and they sign up through your personalized link, you earn <span class='credits'> 25 </span> credits!</p>
  <div class="refer-friend">
    <p class="redeemCredits__title">Copy &amp; Share:</p>
    <p class="redeemCredits__link"><%= request.host_with_port %>/invite/<%=@referal_code %></p>

    <div class="refer-friend__copy-button">
      <button class="zclip" data-zclip-text="<%= request.host_with_port %>/invite/<%=@referal_code %>">Click to Copy</button>
    </div>
  </div>
</div>
