<% provide(:title, 'Redeem') %>
<div class='mobile-container'>
	<div class='my-balance'>
		<p class="redeemHeading" >Refer a friend for credits!</p>
		<p class="redeemCredits"><%= request.host_with_port %>/invite/<%=@referal_code %></p>
	</div>
</div>
