<% content_for :body_class, "set-username-page interior-page no-bg" %>
<% provide(:title, 'Set Username') %>

<div class="form-wrap">
    <h1 class="form__title">One last step. Please pick a username:</h1>
   <%= form_for(@user, :url => update_username_path) do |f| %>
        <div class="form-input--wrap">
            <i class="fa fa-user"></i>
            <i class="fa fa-check-circle-o input-validation valid-input js-valid--name"></i>
            <span class="input-validation invalid-input error-msg js-invalid--name">
                <span class="js-error-case js-error-case--invalid">required</span>
                <span class="js-error-case js-error-case--taken">username taken</span>
            </span>
            <%= f.text_field :name, min: 2, placeholder: 'Username', class: "form-input js-validate--name" %>
        </div><!-- /.form-input--wrap -->
        <div class="form-input--wrap form-input--wrap-submit">
            <%= f.submit "Continue", class: "form-input js-form-submit" %>
        </div><!-- /.form-input--wrap -->
    <% end %>
</div><!-- /.form-wrap -->
