<% content_for :body_class, "tutorial-page" %>

<div id="slides">
  <ul class="slides-container">
    <li>
      <img src="/assets/2048-backdrop.jpg" alt="">
      <div class="container">
        <h1 class="slides__title">Swiping moves all tiles in that direction</h1>
        <p class="slides__sm-text">(use arrow keys on desktop)</p>
        <div class="slides__tut-img fingerpoint" style="background-image: url(/assets/2048-gameboard-1.png);">
        </div>
      </div>
    </li>
    <li>
      <img src="/assets/2048-backdrop.jpg" alt="">
      <div class="container">
        <h1 class="slides__title">Slide identical tiles together to combine them</h1>
        <div class="slides__tut-img" style="background-image: url(/assets/2048-gameboard-2.png);">
        </div>
        <!-- <h1 class="slides__title">Avoid filling all spaces on the board...</h1> -->
      </div>
    </li>
    <li>
      <img src="/assets/2048-backdrop.jpg" alt="">
      <div class="container">
        <h1 class="slides__title">Continue swiping and combining tiles until you have no more moves</h1>
        <div class="slides__tut-img" style="background-image: url(/assets/2048-gameboard-3.png);">
        </div>
        <a href="/games/<%= @game.slug %>" class="slides__link">Play Now</a>
      </div>
    </li>
  </ul>
  <nav class="slides-navigation">
    <a href="#" class="next slides__control">Next</a>
    <a href="#" class="prev slides__control">Previous</a>
  </nav>
</div>

<script>
  $(function() {
    if (mobileCheck.any()) {
      $('.slides__control').hide();
    }

    $('#slides').superslides({
      hashchange: true
    });


    $(".tutorial-page").swipe({
      swipeLeft:function(event, direction, distance, duration, fingerCount) {
        console.log("You swiped " + direction );
        $('#slides').superslides('animate','next');
      }
    });

    $(".tutorial-page").swipe({
      swipeRight:function(event, direction, distance, duration, fingerCount) {
        console.log("You swiped " + direction );
        $('#slides').superslides('animate','prev');
      }
    });
  });
</script>
