 <!-- EMAIL CONTAINER // -->
                      <table bgcolor="#FFFFFF"  border="0" cellpadding="0" cellspacing="0" width="500" id="emailBody">


              <%= render partial: "header_module_row", locals: { heading: "Jackpot Ending Soon", sub_heading:"Our jackpot is coming to a close!",heading_message: "Make sure to deposit all of your credits to increase your chances of winning the grand prize!" } %>

              <%= render partial: "two_col_module_row", locals: {left_col_heading: "Earn more credits!", left_col_text:  "As you play games on GetLuckee you earn credits that you can deposit into our jackpot for a chance to win great prizes!",right_col_heading: "Don't Forget!", right_col_text:  "Time is running out! Make sure you have deposited all of your earned credits into the pot!" } %>

              <%= render partial: "cta_module_row", locals: {cta_text: "Deposit Credits" } %>
            
              


                        </table>
                        <!-- // END -->

                        <!-- EMAIL FOOTER // -->

                        <table bgcolor="#E1E1E1" border="0" cellpadding="0" cellspacing="0" width="500" id="emailFooter">

                            <!-- FOOTER ROW // -->
                            <tr>
                                <td align="center" valign="top">
                                    <!-- CENTERING TABLE // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td align="center" valign="top">
                                                <!-- FLEXIBLE CONTAINER // -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="500" class="flexibleContainer">
                                                    <tr>
                                                        <td align="center" valign="top" width="500" class="flexibleContainerCell">
                                                            <table border="0" cellpadding="30" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <td valign="top" bgcolor="#E1E1E1">

                                                                        <div style="font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#828282;text-align:center;line-height:120%;">
                                                                        <div>Copyright &#169; 2015 <a href="http://www.charlesmudy.com/respmail/" target="_blank" style="text-decoration:none;color:#828282;"><span style="color:#828282;">GetLuckee</span></a>. All&nbsp;rights&nbsp;reserved.</div>
                                                                            

                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // FLEXIBLE CONTAINER -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // CENTERING TABLE -->
                                </td>
                            </tr>

                        </table>
                        <!-- // END -->