 <%= form_tag('/correct_mail', remote: true) do |f| %>

  <%= text_field_tag :e, nil, {class: "input--text", placeholder: "New Email Address"}%>
  <%= hidden_field_tag :update_email, :value => true %>

  <div class="form-input--wrap form-input--wrap-submit form-input--wrap-desktop">
      <%= submit_tag "Resend Email ", class: "form-input" %>
  </div><!-- /.form-input--wrap -->

<% end %>
