<li>
  <%= link_to user.name, user %> | Credits on hand : <%= user.credits ||=0 %> | Credits Deposited: <%= user.user_entries.size ||= 0 %>
  <% if current_user.admin? && !current_user?(user) %>

    <% if false %><%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %> <% end %>
  <% end %>
</li>
