<% content_for :body_class, "gameplay-page gameplay-page--sorcerer" %>

<%= stylesheet_link_tag "sorcerer", media: "all",
                                         "data-turbolinks-track" => true %>

<p id="notice"><%= notice %></p>


  <div style="position: fixed; background-color: transparent; top: 10%; left: 0px; width: 100%; height: 100%"></div>

  <canvas id="canvas" class='ani_hack' width="1024" height="768"> </canvas>

  <script type='text/javascript'>
      $(document).ready(function(){

       var oMain = new CMain({
          combo_value: 50,  //amount added to the score for each ball exploded in a combo
          extra_score: 100  //amount added to the score when level is completely cleared
       });

       $(oMain).on("game_start", function(evt) {
          //alet("game_start");
       });

       $(oMain).on("save_score", function(evt,iScore) {
       });

       $(oMain).on("restart", function(evt) {
          $.ajax({
            type: "GET",
            url: "/new_game",
            success:function(data) {
              $("#game_token").val(data.token);
            }
          });
       });
     });

  </script>


<%= content_for(:game_javascript) do %>
  <%= javascript_include_tag "sorcerer", "data-turbolinks-track" => true %>
<% end %>
