<% content_for :body_class, "list-page list-page--mobile" %>
<div class='list-page__container'>
    <section class="list-page__upper">
        <img src="/assets/wave1.png" class="wave wave--1">
        <img src="/assets/wave2.png" class="wave wave--2">
        <img src="/assets/wave3.png" class="wave wave--3">
        <p class="list-page__title">Leaderboards</p>
        <%# embedded_svg('svgs/wave.svg', :class => 'wave') %>
    </section><!-- /.list-page__upper -->

    <section class="list-page__lower">
        <ul class="list-page__list">
            <% @games.each do | g | %>
                <li class="list-page__list-item">
                    <%= link_to game_leaderboard_path(game_slug:g.slug) do %>
                        <div class='list-item__icon' style="background-image:url(/assets/<%= g.desktop_image %>)"><h3 class="list-item__icon-title"><span class="title--mini"></div>
                        <div class="list-item__wrapper">
                            <p class="list-item__title"><%= g.name %></p>
                        </div>
                        <i class="fa fa-angle-right"></i>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </section><!-- /.list-page__lower -->
</div><!-- /selector -->

