  <div class='game-list-container'>
    <% @games.each do | g | %>
      <%= link_to game_path(g) do %>
        <div class="game-wrapper game--<%= g.slug %>">
          <% if g.slug == "flappy-pilot" ||  g.slug == "fall-down" || g.slug == "traffic" %>
            <img class="game__leaderboard" src="/assets/leaderboard_button.png">
          <% end %>
        <%= image_tag(g.image, :class=>'game-image') %>
        </div>
      <% end %>
    <% end %>
  </div>

<script>
  $(function() {
    if (mobileCheck.any()) {
      $('.game--fall-down').click(function(){
        var url = "http://localhost:3000/";
        window.location = url + "2048_tutorial";
        return false;
      });
    }
  });
</script>
