<div class='game-list-container'>
    <% @games.each do | g | %>
    <div class="game-wrapper">
      <% if g.slug == "flappy-pilot" %>
        <img class="game-leaderboard" src="/assets/leaderboard.png">
      <% end %>
      <%= link_to game_path(g) do %>
        <%= image_tag(g.desktop_image, :class=>'game-image') %>
      <% end %>
    </div>
    <% end %>
</div>
