<h2>You are challenging <%= @challenged_user %> to <%= @challenge_game %></h2>
<p>Once you click the button below you will be taken to the game where you will play for your challenge score.  This will be your only chance, and your opponent will be contacted and have their opportunity to score.  They will not know your score until the game is complete.</p>

<%= form_for(@challenge) do |f| %>

<% end %> 