<div class="game-container">

  <% case @game.name %>
    <% when 'Sorcerer Game' %>
      <%= render 'sorcerer_m' %>
  <% end %>
</div>
<input type="hidden" id="game_token" name="game_token" value="<%= session[:game_token] %>" />
