<% content_for :body_class, "intermediate intermediate--2048" %>
<% if show_ads %>
    <%= render partial: "/ad_units/ad_skyscraper", :locals => {ad_slot: "6670921476"} %>
<% end %>
<div class="intermediate__wrap">
    <h1 class="game-page__title">2048</h1>

    <div class="game-page__icon-row">
        <a href="/games" class="game-page__link">
            <img src="/assets/white_home.svg" class="game-page__icon">
            <h2 class="game-page__subtitle game-page__subtitle--backdrop">Home</h2>
        </a>

        <a href="/leaderboard/<%= @game.slug %>" class="game-page__link">
            <img src="/assets/white_leaderboard.svg" class="game-page__icon">
            <h2 class="game-page__subtitle game-page__subtitle--backdrop">Leaderboard</h2>
        </a>
    </div>


    <a href="/2048_tutorial" class="game-page__tut-btn game-page__tut-btn--2048">How to Play</a>

    <%= link_to game_path('2048',a:@advertiser_id),:class=>'game-page__play' do %>
        <i class="fa fa-play"></i>
        <h2 class="game-page__subtitle">Play now!</h2>
    <% end %>
</div>
<% if show_ads %>
    <%= render partial: "/ad_units/ad_skyscraper", :locals => {ad_slot: "9624387870"} %>
<% end %>