<div class="dialog">
  <h1>We were unable to make that change for you!</h1>
</div>

<p>Please make sure you have the proper permissions or please head back to <%= link_to "the main page", root_path %> to continue enjoying GetLuckee! </p>
