<div class="dialog">
  <h1>We're sorry, but something went wrong.</h1>
</div>

<p>Our team has been sent an error and will be on it right away!  In the meantime please head back to <%= link_to "the main page", root_path %> to continue enjoying GetLuckee! </p>
