<% content_for :body_class, "survey-page" %>

<div class="page-container">
    <section class="ad-wrapper js-ad-wrapper">
        <p class="intro-copy">Watch the clip below and answer the questions to receive 25 credits!</p>
        <div id="player"></div>
        <div class="affiliate">
            <h1 class="affiliate__msg">"Earn cash in your free time."</h1>
            <img class="affiliate__logo" src="/assets/bellhops_logo.png">
            <!-- <h2 class="affiliate__name">-Bellhops</h2> -->
        </div>
    </section>

    <section class="survey-wrapper js-survey-wrapper hide">
        <p id="notice"><%= notice %></p>

        <p class="intro-copy">Complete this survey and receive <%= @survey.credits %> credits!</p>

        <div class="refer-friend">

            <div class="survey__question">
                <p class="survey__question-copy">1. Do you play golf?</p>

                <label class="control control--radio">$13-$15 per hour plus tips
                <%= radio_button 'feature', 'job', 'pay' %>
                <div class="control__indicator"></div>
                </label><!-- /.control .control--radio -->

                <label class="control control--radio">Freedom to set your own schedule
                <%= radio_button 'feature', 'job', 'freedom' %>
                <div class="control__indicator"></div>
                </label><!-- /.control .control--radio -->

                <label class="control control--radio">Great customer reviews to build your resume
                <%= radio_button 'feature', 'job', 'service' %>
                <div class="control__indicator"></div>
                </label><!-- /.control .control--radio -->
            </div><!-- /.survey__question -->

            <%= form_for(@user_survey) do |f| %>
                <%= f.hidden_field :id %>
                <%= f.hidden_field :complete, :value => true %>
                <%= f.submit 'Submit Survey', class: "btn-submit btn--top-margin"%>
            <% end %>
        </div> <!--/.refer-friend -->

    </section><!-- /.section-wrapper -->
</div>

<script>
    // Load API Async
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


    // create youtube player
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
            height: 'auto',
            width: '100%',
            videoId: 'KoGTWwV0YE8',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            },
            playerVars: {
                'autoplay': 0,
                'controls': 0,
                'rel' : 0,
                'showinfo': 0
            }
        });
    }

    // autoplay video
    function onPlayerReady(event) {
        console.log('player ready');
        // event.target.playVideo();
    }

    // when video ends
    function onPlayerStateChange(event) {
        if(event.data === 0) {
            console.log('video complete');
            $('.js-ad-wrapper').fadeOut(function fadeIn() {
                $('.js-survey-wrapper').fadeIn();
            });
            // window.location.replace(window.location.origin);
        } else {
            console.dir(event);
        }
    }
</script>
