@import 'social_btn';

html body {
    .form-submit {
        padding: 10px 60px;
        margin: 10px 0;
        background-color: #915AB9;
        border: none;
        border-radius: 50px;
        color: #fff;
        display: block;
        margin: 20px auto;
        &:hover {
                background-color: $purple-border;
            }
    }

    .session__input {
        text-align: center;
        height: 40px;
        padding: 0;
        border-radius: 100px;
        border: 2px solid $purple-border;
        background-color: $purple-light;
        width: 100%;
        color: #fff;
    }


    .btn--outline {
        border: 1px solid white;
        padding: 5px 30px;
        color: white;
        border-radius: 2px;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
    }

    &.user-profile {
        .btn--outline {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }

    .btn-sec {
        background-color: $lavender;
        color: $white;
        text-decoration: none;
        padding: 10px;
        min-width: 125px;
        display: inline-block;
        text-align: center;
        margin: 20px 0;
        border-radius: 4px;
    }
    .btn--homepage {
        width: 40vw;
        background-color: $teal;
        color: $white;
        padding: 10px 0 12px;
        display: inline-block;
        border-radius: 4px;
        border: 2px solid $teal;
        font-weight: 500;
        font-size: 16px;

        & + .btn--homepage {
            margin-left: 15px;
        }
        &:hover {
            text-decoration: none;
        }
    }

    .btn--no-fill {
        background-color: transparent;
    }
}
