.confirmation--donate {
  background-color: white;
  border-radius: 4px;
  margin: 20px;
  padding: 20px;
}

.confirmation__copy {
  color: black;
  font-size: 14px;
  margin: 0 0 20px;
}

.confirmation__btn {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  background-color: purple;
  color: white;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}
