/* mixins, variables, etc. */
@import "bootstrap";
@import "mixins";

$grayMediumLight: #eaeaea;
$dark-font: #4A4A4A;
$dark-blue: #10172B;
$purple: #6f5499;
$black: #000;
$credits-red: #D9232B;
$white: #fff;
$red: #e74c3c;
$orange: #F2BB7C;
$silver: #bdc3c7;
$clouds: #ecf0f1;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
  position: relative;
  z-index: 1;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.mobile-container{
  width:95%;
  margin:auto;
  position: absolute;
  top:0px;
  min-height:100vh;
  background: url('/assets/svgs/mobile_bg_wo_dollars.svg') #EAF9FC;
  background-size: cover;
  &.with-money{
    background: url('/assets/svgs/mobile_background_w_dollars.svg') #EAF9FC;
    background-size: cover;
  }
}
.survey-container{
  width:90%;
  margin:auto;
  p{
    margin-top:20px;
  }
}
.mobile-home {
  text-align: center;
}
.top-title {
    width: 200px;
    height: auto;
    display: inline-block;
    margin: 25px auto 15px;
    .hide-top-title & {
      display: none;
    }
}
.home-page__signin {
  margin-top: 20px;
}
.paypal-select,.venmo-select,.final-step{
  display:none;
}
.sign-in{
  font-weight: normal;
  text-align: center;
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  color: #6f5499;
  font-size: 14px;
  a,a:visited,a:hover{
    color: #6f5499;
    font-weight:bold;
    text-decoration:none;
    font-size:18px;
  }
  form{
    max-width: 80%;
    margin:auto;

    input[type="submit"] {
      padding: 10px 60px;
      margin: 10px 0;
      background-color: #915AB9;
      border: none;
      border-radius: 50px;
      color: #fff;
      display: block;
      margin: 20px auto;
      &:hover {
          background-color: #c8ade0;
        }
    }
  }
  p{
    max-width:200px;
    margin:auto;
  }
}
#session_password,
#session_email {
  height: 40px;
  padding: 0;
  border-radius: 100px;
  border: 2px solid #c8ade0;
  background-color: #ddd8e9;
  width: 100%;
  padding-left: 20px;
  color: #fff;
}

.facebook-signup{
  width:85%;
  margin:auto;
  display:block;
  margin-bottom: 10px;
}
.email-signup{
  width:90%;
  z-index:10;
  margin:auto;
  display:block;
}
.cash-out{
  margin-top: 10px;
  background-color: $white;
  padding: 10px;
  // font-weight: 200;
  ul{
    padding:0px;
    margin:0px;
    list-style-type:none;
  }
  a {
    color: #333;
    &:hover {
      text-decoration: none;
    }
  }
  a:last-of-type {
    li {
      border: none;
    }
  }
  li{
    padding: 10px 10px;
    font-color:$dark-font;
    font-size: 14px;
    position:relative;
    border-bottom: 1px solid $clouds;
    .fa-angle-right {
      float: right;
      position: relative;
      bottom: 25px;
      right: 5px;
      color: $silver;
    }
  }
}
.page-title {
  font-size: 16px;
  border-bottom: 1px solid $orange;
  margin-bottom: 0;
  text-align: left;
}
.cash-out__cost {
  display: block;
  color: $red;
  font-size: 12px;
}
.edit-user{
  background-color: $white;
  padding: 10px;
  form {
    margin: 0;
    input{
      width: 100%;
      border: none;
      box-shadow: none;
      border-bottom: 1px solid $clouds;
      border-radius: 0;
      outline: none;
      margin: 0;
      padding: 7px;
    }
    select {
      display: inline-block;
      width: 32%;
      margin: 0px 0.66%;
    }
    select:first-of-type {
      float: left;
    }
    select:last-of-type {
      float: right;
    }
    .btn-submit {
      margin-top: 20px;
      background-color: $purple;
      border: none;
      box-shadow: none;
      background-image: none;
      text-shadow: none;
      color: white;
      padding: 10px 0;
    }
  }
}
.page-title--account {
  margin-bottom: 15px;
}
.page-title--password {
  margin: 15px 0;
}
.edit-user__container {
  border: 1px solid $silver;
  overflow-x: hidden;
}
.edit-user__partition {
  padding: 10px;
}
.edit-user__gender {
  width: 45%;
}
.genderButtonLeft {
  float: left;
}
.genderButtonRight {
  float: right;
}
.mobile-home-footer{
  margin-top: 20px;
  width:100%;
  position: relative;
  z-index: 10;
  .footer-links{
    text-align:center;
    color:#ABABAB;
    width:80%;
    margin:auto;
    .privacy-link{
      margin-right:30px;
    }
  }
}
.terms-link,
.privacy-link {
  color: rgb(171, 171, 171);
  &:hover {
    text-decoration: none;
    color: $purple;
  }
}
.home-bottom{
  position:relative;
  max-height:500px;
  z-index:1;
  .mountain-image{
    position:relative;
    top:-177px;
    max-height:300px;
    z-index:1;
    .mountains{
      width:100%;
      z-index:1;
      background:transparent;
    }
  }
  .trees{
    position: absolute;
    top: -311px;
    width: 100%;
     z-index:1;
    .tree-hills{
      width:100%;
      z-index:1;
      background:transparent;
    }
  }
  .bottom-content{
    z-index:1;
    background:url('/assets/svgs/bottom_background.svg') $dark-blue;
    background-size:contain;
    position:relative;
    bottom:150px;
    width:100%;
    text-align:center;
    padding-bottom:100px;
    h2{
      font-size:30px;
    }
    .how-it-works-image{
      margin-top:20px;
      height:95px;
      width:95px;
    }
    p{
      margin-top:15px;
      color:#fff;
    }
  }

  .white-down {
    position: relative;
    z-index: 1000;
    width: 60px;
    height: auto;
    right: 0%;
    bottom: 30px;
  }
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
.redeem {
  padding: 10px 15px 5px;
  background-color: $white;
}
.redeem__dollars {
  border: 1px solid $black;
  border-radius: 100%;
  padding: 8px 11px;
  font-size: 18px;
  float: left;
  position: relative;
  top: 7.5px;
}
.redeem__copy {
  display: inline-block;
  margin-left: 10px;
}
.redeemCredits {
  font-size: 18px;
  margin-bottom: 0;
  // font-weight: 200;
  // letter-spacing: 0.25px;
}
.refer-friend {
  background-color: $white;
  padding: 10px 10px 20px;
}
.refer-heading {
  background-color: $white;
  padding: 10px;
  font-size: 12px;
}
.redeemCredits__desc {
  margin: -5px 0 0;
  font-size: 12px;
  // font-weight: 200;
  // letter-spacing: 0.25;
}
.redeemCredits__title {
  border-bottom: 1px solid $orange;
  margin-bottom: 15px;
  font-size: 15px;
}
.redeemCredits__link {
  text-align: center;
  background-color: #ecf0f1;
  padding: 30px;
  color: $dark-blue;
  margin-bottom: 0;
  font-size: 14px;
}
.my-balance{

  .icon-holder{
    position:relative;
    width:25%;
    .payment-icon{
      width:50px;
      height:50px;
      position:relative;
      left:20px;
      top:-40px;
    }
    display:inline-block;
  }
  .credits{
    color:$credits-red;
  }
  .text-holder{
    display:block;
  }
  .p{
    font-size:16px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  // letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color:#4A4A4A;
}

h2 {
  font-size: 1.2em;
  // letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.mobile-header{
  position: fixed;
  top:-10px;
  width:100%;
  display:block;
  a:hover {
    text-decoration: none !important;
  }
  .back-button{
    font-size: 2.25em;
    z-index:1;
    display:inline;
    color: #fff;
    position: relative;
    top: 15px;
    margin-left: 10px;
    // @include vertical-align();
  }
  h2{
    font-size:30px;
    color:#fff;
    padding:10px;
    padding-bottom:0px;
    margin-bottom:10px;
    a,a:hover,a:visited{
      color:#fff;
      text-decoration:none;
    }
    .credits{
      color:$credits-red;
      font-size: 14px;
      // font-weight: 200;
      // letter-spacing: 0.25px;
      position:relative;
      top:-15px;
    }
  }
  a{

  }
  height:10%;
  background:#F2BB7C;
  .referral-link{
    position:absolute;
    right:15px;
    top:0px;
    z-index:1;
    a {
      padding: 7px 23px 2px 4px;
      border-radius: 5px;
      border: 2px solid white;
      top: 24px;
      color: $white;
      font-size: 20px;
      position: relative;

      .fa {
        font-size: 20px;
      }
    }
    .refer-link-icon{
      width:50px;
      height:50px;
      fill:#fff;
    }
  }
}
.earn {
  position: absolute;
  top: -5px;
  font-size: 9px;
  right: -15px;
  color: $red;
}
.mobile-header{
    position: relative;
    top: 0px;
    width: 100%;
    display: block;
    height: 10%;
    background: #F2BB7C;
    min-height: 60px;
    a{
      z-index:1;
      position:relative;
    }
    h2{
      position:absolute;
      width:95%;
      z-index:0;
      margin:auto;
      text-align:center;
      top:0px;
    }
}
.sign-up{
  z-index:10;
  text-align:center;
  width:95%;
  margin:auto;
  position:relative;
}
.create-email{
  border-radius:10px;
  width:80%;
  margin:auto;
  background:#6f5499;
  color:#fff;
  font-size:16px;
}
.welcome-box-m{
  font-size:18px;
  font-weight: 500;
  margin-bottom:20px;
}
.form-separator{
  position:relative;
  display:block;
  margin:15px 0px 10px 0px;

  .sign-in & {
    margin: 30px auto 20px;
    width: 80%;
  }
  .left-separator{
    width:40%;
    height:12px;
    border-bottom:1px solid #CBC5C5;
    left:15px;
    top:-3px;
    position:absolute;
  }
  .or-separator{
    color:#5C5C5C;
    font-size:22px;
    position:relative;
    font-weight:bold;
    top:-4px;
  }
  .right-separator{
    width:40%;
    height:12px;
    border-bottom:1px solid #CBC5C5;
    right:15px;
    top:-3px;
    position:absolute;
  }
}

.mobile-form{
  z-index:10;
  form{
    margin:0px;
    z-index:10;
  }
  width:100%;
  margin:auto;
  input{
    z-index:10;
    box-sizing:border-box;
    height:35px;
    width:95%;
    margin:auto;
    margin-bottom:10px;
    display:block;
  }
  .small-note{
    color:#ABABAB;
    position:relative;
    top:5px;
  }
  .email-form{
    z-index:10;
    display:none;
    h2{
      color:$dark-font;
    }
  }
}
.game-list-container{
  width:90%;
  margin:auto;
  padding-top:20px;
  padding-bottom:40px;
  .game-image{
    border-radius:10px;
    width:100%;
    margin-top:20px;
  }
}
.game-container{
  min-height:800px;
  background:#000;
}


/** menu stuff  **/
/** navigation **/
.nav {
    height: 100%;
    width: 280px;
    left: 0;
    top: 0;
    color:$dark-font;
    background-color: $white;
    z-index: 2;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(-280px,0);
    ul,li{
      list-style-type:none;
      li{
        color:#4A4A4A;
        padding:10px;
        text-align:left;
        font-size:18px;
        a,a:visited{
          color:$dark-font;
          vertical-align: middle;
        }
        .survey-credits,.redeem{
          color:#D9232B;
          position:absolute;
          right:15px;
        }
      }
    }
    ul{
      padding-left:0px;
      margin-left:0px;
    }
    h2{
      color:$dark-font;
    }
    .settings-icon{
      width:20px;
      height:20px;

    }
    .survey-icon{
      width:20px;
      height:20px;
    }
    svg{
      vertical-align: middle;
    }

}
.side-nav_links {
  padding: 0 10px 10px;
  a{
    display: inline-block;
    width: 100%;
    &:hover {
     text-decoration: none;
    }
  }
  li {
    font-size: 14px !important;
    border-bottom: 1px solid $clouds;
    margin-left: 10px;
    svg, i {
      margin-right: 15px;
    }
  }
  span {
    font-size: 12px;
  }
  .fa-user-plus {
    font-size: 18px;
  }
}
.side-nav__settings {
  border: none !important;
}
.side-nav__signout {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 85%;
  padding: 10px;
  border-top: 1px solid $clouds;
  margin: 0 10px;
}
.side-nav__signout-link {
  font-size: 14px;
  // letter-spacing: 0.5px;
  color: $black;
  margin-left: 10px;
  &:hover {
    text-decoration: none;
  }
}
.side-nav__avatar {
  text-align: center;
  height: 70px;
  width: 70px;
  background-color: white;
  text-align: center;
  background-position: center;
  background-size: 100%;
  margin: auto;
  border-radius: 100%;
}
.side-nav__username {
  font-size: 16px;
  margin: 20px 0 0;
  text-transform: capitalize;
}
.side-nav__user-info {
  background-color: $orange;
  padding: 10px 0 20px;

  h2 {
    color: $white;
    // font-weight: 200;
    // letter-spacing: 0.5px;
  }
}
.side-nav__close {
  text-transform: uppercase;
  font-size: 11px;
  // letter-spacing: 0.5px;
  margin-top: 0;
  color: $black !important;
}
.lifetime-credits {
  margin-bottom: 0;
  font-size: 12px;
}
/* overlay layer */
.ssm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
}
.ssm-open-nav{
  background: transparent;
  display: inline;
  position: absolute;
  top: 20px;
  z-index:1;
  cursor:pointer;
  left: 5%;
}
.mobile-menu{
  top: -5px;
  font-size: 2.25em !important;
  color: #fff;
  position: relative;
}
.game-header{
  width:100%;
  padding:15px;
  background:#53DDBE;
  a,a:visited,a:hover{
    color:#fff;
  }
  position:relative;
}
.game-title{
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 0px;
  text-align: center;
  width: 140%;
}


.share-dialog {
  position: absolute;
  margin: 0 -100px;
  top: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  padding: 30px 20px 10px;
  right: 100px;
  display: none;

  &.show {
    display: block;
  }

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(255,255,255,0.95);
    position: absolute;
    top: -10px;
    right: 14px;
  }

  .share-dialog__close-container {
    text-align: center;
  }

  .share-dialog__close {
      color: black;
      text-transform: uppercase;
      font-size: 10px;
      text-decoration: underline;
      font-weight: 500;
    &:hover {
      cursor: pointer;
    }
  }

  span {
    color: red;
  }
}


// Overlays
@media (max-width: 700px) {
  .overlay-screen--rotate {
    .mobile--overlay {
      background-image: url(/assets/rotate_screen_2.jpg)
    }
    .overlay__back-to-dash {
      display: inline-block;
      font-size: 10px;
      color: $white;
      position: absolute;
      right: 20px;
      top: 10px;
      text-decoration: underline;
    }
    .rotate-dialogue {
      display: block;
      @include vertical-align();
    }
    .rotate__title {
      font-size: 14px;
      color: $white;
    }
    .rotate__icon {
      font-size: 4em;
    }
    .overlay__opt-out {
      display: none !important;
    }
    .overlay__content {
      display: none !important;
    }
  }

  .overlay-screen {
    .mobile-container {
      height: 100vh;
      overflow: hidden;
    }
    .mobile--overlay {
      color: #fff;
      width: 100%;
      height: 100vh;
      position: absolute;
      background-color: rgba(117,117,117,0.5);
      background-position: center;
      background-size: cover;
      z-index: 100;
      text-align: center;
    }
    .overlay__content {
      display: block;
      // @include vertical-align();
      padding: 20% 0 25%;
      font-size: 16px;
      &.hide {
        display: none;
      }
    }
    .overlay__logo {
      border-radius: 15px;
      display: block;
      margin: 20px auto 20px;
    }
    .overlay__title {
      color: #fff;
      display: inline-block;
      border-bottom: 1px solid;
      padding-bottom: 20px;
      font-size: 17px;
      display: block;
      width: 30%;
      margin: 0 auto 20px;
      font-size: 18px;
    }
    .overlay__bookmark {
      width: auto;
      height: 20px;
      position: relative;
      bottom: 3px;
      margin: 0 2px;
    }
    .overlay__down-arrow {
      font-size: 2em;
      position: absolute;
      bottom: 20%;
      margin-left: -7px;
      left: 50%;
    }
    .overlay__opt-out {
      display: inline-block;
      font-size: 10px;
      color: #524E4E;
      position: absolute;
      right: 20px;
      top: 10px;
      text-decoration: underline;
    }
  }
}

.add-to-home {
  .mobile--overlay {
    background-image: url(/assets/blur.png);
  }
}

.rotate-dialogue,
.overlay__content,
.overlay__opt-out,
.overlay__back-to-dash {
  display: none;
}
