@import "mixins";
@import "variables";

button {
    outline: 0 !important;
}
.session-form--mobile {
    &.padding-top {
        margin-top: 3vh;
    }
    // margin-top: 10vh;
}
.btn--form {
    background-color: $clouds;
    border: none;
    border-radius: 5px;
    width: 100%;
    min-height: 50px;
    max-height: 65px;
    height: 10vh;

    @include transition();

    @media (min-width: $ipad) {
        height: 6vh;
    }
}

.btn--form-purple {
    background-color: $purple;
    @include transition();

    &:hover {
        background-color: lighten($purple, 5%);
    }

    .desktop-home & {
        margin: 15px 0 10px;
    }
}

.btn--form-fb {
    background-color: $fb-blue;
    @include transition();

    &:hover {
        background-color: lighten($fb-blue, 5%);
    }
}

.desktop-home,
.desktop-signin-page {
    .btn--form-fb,
    .btn--form-purple {
        background-color: transparent;
        border: 2px solid rgba($white, 0.7);

        .btn--form__copy,
        .btn--form__icon {
            color: $white;
        }

        &:hover {
            background-color: rgba($white, 1);

            &.btn--form-purple {
                .btn--form__copy,
                .btn--form__icon {
                    color: $purple;
                }
            }

            &.btn--form-fb {
                .btn--form__copy,
                .btn--form__icon {
                    color: $fb-blue;
                }
            }
        }
    }

    .btn--form__copy {
        text-transform: uppercase;
        font-size: 14px !important;
        font-family: $sans;
    }

    .btn--form-fb {
        .btn--form__copy,
        .btn--form__icon {
            // color: $fb-blue;
            color: $white;
        }
    }

    .btn--form-purple {
        .btn--form__copy,
        .btn--form__icon {
            // color: $purple;
            color: $white;
        }
    }
}

.btn--form__icon {
    font-size: 16px !important;
    color: $white;
    margin-right: 4px;
    position: relative;
    top: 1px;
}
.btn--form__copy {
    margin: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: $white;

    .desktop-home & {
        font-size: 16px;
    }
}
.btn--form-prime {
    background-color: $lavender;
}
.form-disclaimer {
    font-size: 12px;
    color: $blue-steel;
    text-align: center;
    margin: auto;
}
.form-subcopy {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 25px;
    .form-swap__link {
        font-size: 12px;
        text-transform: none;
    }
}
.form-swap {
    position: absolute;
    bottom: 15vh;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.form-swap__copy {
    margin-bottom: 0;
    font-size: 14px;
    color: $blue-steel;
}
.form-swap__link {
    text-transform: uppercase;
    color: $lavender;
    font-size: 14px;
    font-weight: bold;

    &:hover {
        text-decoration: none;
        color: $lavender;
    }
}
.form-register {
    &.hidden {
        display: none;
    }
}
.facebook-login-wrap {
    & + .btn--form {
        margin-top: 30px;
    }
}
.form-wrap {
    @include vertical-align(relative, 45vh);

    @media (min-width: 416px) {
        padding: 0 35%;
        @include vertical-align(relative, 40vh);

        #user_name, #user_email, #user_zipcode, #user_password, #user_password_confirmation {
            margin: 0;
            width: 100% !important;
        }
    }

    @media (min-width: $ipad) {
        padding: 5%;
    }
}
.form-input--wrap {
    position: relative;
    height: 7.5vh;
    width: 100%;

    @media (min-width: $iphone6) {
        height: 60px;
    }

    & + & {
        margin-top: 15px;
    }

    .fa {
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -5.5px;
        color: $blue-steel;
    }

    .input-validation {
        position: absolute;
        right: 5%;
        left: inherit;
        top: 50%;
        margin-top: -7.5px;
        font-size: $lg;
        opacity: 0;
        @include transition();

        &.error-msg {
            font-size: $xs;
        }

        &.valid-input {
            color: $teal;
        }

        &.invalid-input {
            color: $red;
        }

        &.show {
            opacity: 1;
        }
    }
}
.form__title {
    font-size: 16px;
    margin: 0 0 20px;
    text-align: center;
    font-weight: 400;

    &.form__title--us-only {
        color: $white;
        line-height: $lg;
    }

    .desktop-home & {
        line-height: 20px;
        text-align: left;
        color: $white;
        font-family: $sans;
    }
}
.form-input--wrap-submit {
    height: 10vh;
    border-radius: 4px;
    overflow: hidden;

    @media (min-width: $iphone6) {
        height: 60px;
    }

    .form-input {
        background-color: $lavender !important;
        color: $white;
        width: 100% !important;
        padding-left: 0 !important;
    }
}
.form-input {
    height: 100% !important;
    padding: 0 0 0 40px !important;
    width: calc(100% - 40px) !important;
    border: none !important;
    background-color: $clouds !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    display:block !important;
    border-width:0 !important;
    min-height: 50px;
}
.mobile-form {
    .desktop-signup & {
        max-width: 350px;
        padding: 40px 0;
    }
}
.form-separator {
    .desktop-signup & {
        margin: 20px auto;
    }
}
.form-separator .or-split {
    color: #5C5C5C;
    font-size: 14px;
    position: relative;
    font-weight: bold;
    top: -2px;
    text-align: center;
}
.app-legal--signup {
    padding: 10px 0 0;
    text-align: center;
}
.form__required {
    position: absolute;
    right: 5%;
    font-size: 12px;
    opacity: 0;
    top: 25%;
    color: $red;
    @include transition();

    &.show {
        opacity: 1;
    }
}
.legal-link {
    color: $blue-steel;

    & + .legal-link {
        margin-left: 10px;
    }
}

.form-select--wrap {
    padding: 15px 0px 5px;

    select {
        width: 49%;

        &:first-child {
            float: left;
        }

        &:last-child {
            float: right;
        }
    }
}

.form__signin-link {
    color: $purple;
}
