@import "mixins";
@import "variables";

button {
    outline: 0 !important;
}
.session-form--mobile {
    &.padding-top {
        margin-top: 3vh;
    }
    // margin-top: 10vh;
}
.btn--form {
    background-color: $input-fill;
    border: none;
    border-radius: 5px;
    width: 100%;
    // padding: 2.5vh 0;
    height: 10vh;

    @include transition();
}
.btn--form-fb {
    background-color: $fb-blue;
}
.btn--form__icon {
    font-size: 16px !important;
    color: $white;
    margin-right: 4px;
    position: relative;
    top: 1px;
}
.btn--form__copy {
    margin: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: $white;
}
.btn--form-prime {
    background-color: $lavender;
}
.form-disclaimer {
    font-size: 12px;
    color: $blue-steel;
    text-align: center;
    margin: auto;
}
.form-subcopy {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 25px;
    .form-swap__link {
        font-size: 12px;
        text-transform: none;
    }
}
.form-swap {
    position: absolute;
    bottom: 15vh;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.form-swap__copy {
    margin-bottom: 0;
    font-size: 14px;
    color: $blue-steel;
}
.form-swap__link {
    text-transform: uppercase;
    color: $lavender;
    font-size: 14px;
    font-weight: bold;

    &:hover {
        text-decoration: none;
        color: $lavender;
    }
}
.form-register {
    &.hidden {
        display: none;
    }
}
.facebook-login-wrap {
    & + .btn--form {
        margin-top: 30px;
    }
}
.form-wrap {
    @include vertical-align(relative, 45vh);
}
.form-input--wrap {
    position: relative;
    height: 7.5vh;
    width: 100%;
    & + & {
        margin-top: 15px;
    }

    .fa {
        position: absolute;
        left: 20px;
        top: 2.5vh;
        color: $blue-steel;
    }

    .input-validation {
        position: absolute;
        right: 5%;
        left: inherit;
        font-size: $lg;
        opacity: 0;
        @include transition();

        &.error-msg {
            font-size: $xs;
            top: 25%;
        }

        &.valid-input {
            color: $teal;
        }

        &.invalid-input {
            color: $red;
        }

        &.show {
            opacity: 1;
        }
    }
}
.form__title {
    font-size: 16px;
    margin: 0 0 20px;
    text-align: center;
    font-weight: 400;
}
.form-input--wrap-submit {
    height: 10vh;
    border-radius: 4px;
    overflow: hidden;

    .form-input {
        background-color: $lavender !important;
        color: $white;
        width: 100% !important;
        padding-left: 0 !important;
    }
}
.form-input {
    height: 100% !important;
    padding: 0 0 0 40px !important;
    width: calc(100% - 40px) !important;
    border: none !important;
    background-color: $clouds !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    display:block !important;
    border-width:0 !important;
}
.form-separator .or-split {
    color: #5C5C5C;
    font-size: 14px;
    position: relative;
    font-weight: bold;
    top: -2px;
    text-align: center;
}
.app-legal--signup {
    padding: 10px 0;
    text-align: center;
}
.form__required {
    position: absolute;
    right: 5%;
    font-size: 12px;
    opacity: 0;
    top: 25%;
    color: $red;
    @include transition();

    &.show {
        opacity: 1;
    }
}
.legal-link {
    color: $blue-steel;

    & + .legal-link {
        margin-left: 10px;
    }
}
