.desktop-home {
    .desktop-wrapper {
        position: relative;
    }
}

.landing-page__nav {
    height: 80px;
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    z-index: 100;
    padding: 20px 7.5%;
}

.landing-page__nav-logo {
    height: 35px;
    width: auto;
}

.landing-page__nav--left {
    float: left;
}

.landing-page__nav--right {
    float: right;
}

.landing-page__nav-list {

}

.landing-page__nav-item {
    display: inline;
    list-style: none;
    position: relative;
    top: 10px;

    & + & {
        margin-left: 35px;
    }
}


.landing-page__nav-link {
    font-family: $sans;
    color: $white;
    text-transform: uppercase;
    font-size: $md;
    @include transition(color);

    &:hover {
        color: $purple;
        text-decoration: none;
    }
}

.landing-page__btn {
    background-color: $purple;
    color: $white;
    border-radius: 4px;
    padding: 7.5px 25px;
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
    @include transition;

    &:hover {
        color: $white;
        background-color: darken($purple, 5%);
    }
}

.landing-page__nav-link--login {
    border: 2px solid $white;
    border-radius: 4px;
    padding: 5px 25px;
    @include transition;

    &:hover {
        background-color: $white;
    }
}

.landing-page__landscape {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-position: center center;
    background-image: url(/assets/landscape-background.png);
    background-size: cover;
    background-attachment: fixed;

    &::before {
        content: '';
        position: fixed;
        width: 60px;
        height: 60px;
        background-image: url(/assets/svgs/moon.svg);
        background-repeat: no-repeat;
        top: 30vh;
        left: 60%;
        margin-left: -25px;
        z-index: 9;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba($black, 0.2);
        // background-image: url(/assets/vignette.png);
        top: 0;
        left: 0;
        z-index: 11;
    }

    .sign-up {
        color: $white;

        .welcome-box-m {
            text-align: center;
        }

        .sign-up__closed .welcome-box-m {
            text-align: left
        }

        .small-note {
            color: $white;
            font-family: $sans;
        }

        .already-member {
            font-family: $sans;

            .form__signin-link {
                font-family: $sans-sb;
                color: $white;
                text-decoration: underline;
                @include transition;

                &:hover {
                    color: $black;
                }
            }
        }

        .form-separator {
            font-family: $sans;
            text-transform: uppercase;
        }

        .left-separator,
        .right-separator {
            border-color: $white;
        }

        .or-separator {
            color: $white;
            font-size: $md;
        }
    }
}

.landing-page__mtns {
    position: absolute;
    width: 100vw;
    height: auto;
    left: 0;
    bottom: 0;
    z-index: 10;
}

.landing-page__section {
    z-index: 10;
    position: relative;
    padding: 0 7.5%;
    height: 525px;
}

.landing-page__section--about {
    // background-color: $clouds;
}

.landing-page__section--how {
    background-color: $dark-purple;
}

.section__title {
    font-size: $xxxl;
    font-family: $sans;
    color: $purple;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.section__copy {
    font-family: $sans;
    font-size: $lg;
    color: $white;

    .landing-page__section--about &,
    .landing-page__section--contact & {
        color: $black;
    }
}

.landing-page__section--app {
    background-color: $purple;

    .section__title {
        color: $white;
    }

    .section__copy {
        color: $white;
    }
}

.section__copy--wrap {
    @include vertical-align();
    // margin-top: 85px;
}

.section__copy--wrap--how {
    display: inline-block;
    width: 100%;
}

.landing-page__email-link {
    color: $dark-purple;
}

.section__copy--right {
    text-align: right;
    width: 50%;
    float: right;

    .section__title {
        text-align: right;
        margin-bottom: 10px;
    }

    // .landing-page__section--contact & {
    //     margin-top: 85px;
    // }
}

.section__copy--left {
    text-align: left;
    width: 50%;
    float: left;

    .section__title {
        text-align: left;
        margin-bottom: 10px;
    }

    // .landing-page__section--about & {
    //     margin-top: 85px;
    // }
}

.about-img {
    @include vertical-align();
    width: 30%;
}

.about-img--right {
    float: right;
}

.about-img--left {
    float: left;
}

.how__tout {
    display: block;
    box-sizing: border-box;
    width: 33%;
    float: left;
    padding: 20px 20px 10px;
}

.how-it-works-image {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.how-it-works-copy {
    color: $white;
    font-family: $sans;
}

.landing-page__windmill-base {
    height: 100%;
}

.landing-page__windmill {
    position: absolute;
    z-index: 9;
    right: 150px;
    // height: 125px;
    // bottom: 15vh;

    // @media (min-width: 1200px) {
        bottom: 23vh;
        height: 200px;
    // }
}

.landing-page__windmill-top {
    position: absolute;
    top: -47px;
    right: -22px;
    height: 100px;
    animation: rotating 35s linear infinite;
}

.landing-page__footer {
    padding: 35px 7.5%;
    background-color: $dark-purple;
    display: inline-block;
    width: 100vw;
    position: absolute;
    bottom: -220px;
    left: 0;
    height: 220px;
}

.footer__list-item {
    display: inline;

    & + & {
        margin-left: 15px;
    }
}

.footer__left {
    float: left;
}

.footer__right {
    float: right;
}

.footer__link {
    font-size: $sm;
    font-family: $sans;
    color: $white;
    @include transition;

    &:hover {
        color: $purple;
        text-decoration: none;
    }
}

.footer__img {
    position: absolute;
    width: 200px;
    height: auto;
    left: 50%;
    margin-left: -80px;
    bottom: 30px;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
