@import "bootstrap";
@import "mixins";
@import "variables";

$flappy-bg: #D1E9F6;
$flappy-font: #0051BB;

$traffic-bg: #C4E169;
$traffic-font: #8DA339;

$falldown-bg: #a2a2a2;
$falldown-font: #FEE2C7;


.leaderboard--all-time,
.leaderboard--weekly {
    padding-bottom: calc(50vh - 110px);
}

.leaderboard-svg {
    height: 20px;
    width: 20px;
    padding: 5px;
    border: 1px solid;
    border-radius: 100%;

    rect {
        fill: $black;
    }
}
.leaderboard-diff {
    display: none;

    &.active {
        display: block;
    }
}
.leaderboard-diff__title {
    color: $black;
    margin: 0;
    position: relative;
    top: 100px;
}

.game-leaderboard {
    position: relative;
    height: calc(100vh - 110px);
    overflow: scroll;
    padding-top: 60px;
    padding-bottom: 92px;

    .leaderboard-diff &{
        padding: 0 0 20px;
        top: 110px;
    }
}
.leaderboard-nav {
    padding: 10px 0;
    background: $lavender;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.leaderboader-head__icon {
    border: 1px solid $black;
    border-radius: 100%;
    padding: 10px;
    font-size: 18px;
    float: left;
    position: relative;
    top: 7.5px;
}
.leaderboard__social-share {
    position: absolute;
    margin: 0 auto;
    width: 85%;
    bottom: 50px;
    // bottom: 100px;
    left: 0;
    right: 0;

    .leaderboard-diff & {
        bottom: 90px;
    }
}
.leaderboard__social-sync {
    width: 85%;
    margin: auto;
}
.leaderboard__title {
    margin: 0;
    font-size: $md;
    color: $white;
    font-weight: 400;
    line-height: 1.3;

    &.leaderboard__title--headline {
        font-size: $lg;
    }

    .game-leaderboard & {
        color: $charcoal;

    }
}
.leaderboard__subtitle {
    text-align: center;
    font-size: 12px;
    color: $clouds;
    margin-bottom: 20px;
}
.leaderboard__cat {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;

    &#leaderboard__cat--0 {
        &::after {
            left: 0;
        }
    }

    &#leaderboard__cat--1 {
        &::after {
            left: 33.33%;
        }
    }

    &#leaderboard__cat--2 {
        &::after {
            left: 66.66%;
        }
    }

    &::after {
        content: "";
        width: 33.33%;
        height: 4px;
        background-color: #aaa7df;
        bottom: 0;
        position: absolute;

        @include transition();
    }
}
.tab-control__title {
        font-size: 11px;
        text-transform: uppercase;
        padding: 5px 0 7.5px;
        margin: 0;
        display: block;
        float: left;
        color: $white;
        width: 33.33%;
        &:hover {
            cursor: pointer;
        }
        // &.active {
        //     background: $orange;
        //     color: $white;
        // }
}
.leaderboard__cat--3 {
    top: 60px;
    bottom: inherit;
    z-index: 100;
    background-color: $clouds;
    width: 100%;
    position: fixed;

    .tab-control__title {
        width: 33.33%;
        padding: 10px 0;
        float: left;
        display: block;
        color: $lavender;
    }
}
.tab-section {
    display: none;
    // padding: 0 7.5%;
    &.active {
        display: block;
    }
}
// Leaderboard Category
.leaderboard--my-friends {
    &.fb-connected {
        height: calc(100vh - 110px);
        position: relative;
    }

    .credits {
        color: $red;
    }
    .form-input {
        text-align: center;
        padding-left: 0 !important;
        margin: 20px auto;
    }

    &.not-fb-connected {
        @include vertical-align();
        margin-top: -25px;

        .leaderboard__title {
            margin: 0 0 20px;
        }
    }
}
.leaderboard-row {
    // padding: 20px 5px;
    padding: 15px 0;
    width: 90%;
    color: $charcoal;
    margin: auto;
    display: block;
    overflow: hidden;
    & + .leaderboard-row {
        border-top: 1px solid $clouds;
    }
    span {
        display: block;
        width: 33.33%;
        float: left;
        font-size: $sm;
    }

    &:first-child {
        // margin-top: 5px;
    }

    &.leaderboard-row--current-user {
        .leaderboard--omit-current &.leaderboard-row--current-user-default {
            display: none;
        }

        .leaderboard--my-friends & {
            display: none;

            &.leaderboard-row--current-user {
                display: block;
            }
        }
        // position: fixed;
        // bottom: -10px;
        // z-index: 9;
        // display: none;
        border-top: none;
        width: 100vw;
        padding: 15px 0;
        background-color: $lavender;
        @include transition(bottom, 0.15s, ease-in, 1s);

        .leaderboard-row__wrap {
            padding: 0 10px;
            width: calc(90% - 20px);
            margin: auto;
        }

        &.animate {
            bottom: 50px;
        }

        span {
            color: $white;
        }
    }
}
.leaderboard-row__wrap {
    padding: 0 10px;
}
.leaderboard-rank {
    font-weight: 500;
    position: relative;
    text-align: left;

    .leaderboard__avatar {
        height: 35px;
        width: 35px;
        position: absolute;
        border-radius: 100%;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        float: none;
        left: 30px;
        top: 50%;
        margin-top: -17.5px;
    }
}
.leaderboard-user {
    text-align: center;
}
.leaderboard-score {
    color: $lavender;
    text-transform: capitalize;
    text-align: right;
    font-weight: 500;
}
.leaderboard-back {
    position: absolute;
    color: $white;
    top: 16px;
    left: 10px;
    &:hover {
        text-decoration: none;
        color: $white;
    }
    .fa {
        font-size: 28px;
        position:relative;
        margin-right: 5px;
    }
}
.leaderboard-head__title {
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 0.25px;
    margin-bottom: 0;
}
.leaderboard-head__game {
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 20px;
    letter-spacing: 0.25px;
}


// DESKTOP
.leaderboard-page {
    background-color: $white;
    background-image: none;

    // Desktop Leaderboard
    .leaderboard-nav {
        display: none;
    }
    .tab-control__title {
        width: 50%;
        letter-spacing: 0.25px;
    }
}
// MOBILE
.leaderboard-page--mobile {
    width: 100vw;
    overflow-x: hidden;
    .mobile-container {
        background-color: $white;
        background-image: none;
    }
    .mobile-header {
        display: none;
    }
    .leaderboard-head {
        display: none;
    }
}
