@font-face {
    font-family: Tiempo;
    src: url(/assets/marketing/Tiempo.ttf);
}

// Settings & Variables
$black: #000;
$dark-font: #353839;
$dark-purple: #272542;
$purple: #817bdf;
$white: #fff;
$light-grey: #fbfbfd;

// Fonts
$sans-serif: 'Open Sans', sans-serif;
$serif-reg: 'Tiempo', serif;
// $serif-reg: 'Playfair Display', serif;

// Typography
%alpha {
    color: $white;
    font-family: $serif-reg;
    font-size: 80px;
    font-weight: 300;
}

%bravo {
    color: $dark-font;
    font-family: $sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 42px;
}

%charlie {
    color: $white;
    font-family: $sans-serif;
    font-size: 82px;
    font-weight: 300;
}

%delta {
    color: $white;
    font-family: $sans-serif;
    font-size: 24px;
    font-weight: 300;
}

%echo {
    color: $dark-font;
    font-family: $serif-reg;
    font-size: 32px;
    font-weight: 300;
}

%foxtrot {
    color: $white;
    font-family: $sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
}

%golf {
    color: $dark-font;
    font-family: $sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

%hotel {
    color: $dark-font;
    font-family: $sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
}

%india {
    color: $dark-font;
    font-family: $serif-reg;
    font-size: 48px;
    font-weight: 300;
    line-height: 48px;
}

// %julia

// Mixins
@mixin btn($background: $purple, $color: $white, $border-rad: 3px) {
    background-color: $background;
    border-bottom: 2px solid darken($purple, 10%);
    border-radius: $border-rad;
    color: $color;
    display: inline-block;
    font-family: $sans-serif;
    font-weight: 300;
    min-height: 35px;
    min-width: 120px;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        color: $color;
        background-color: darken($background, 5%);
        border-bottom: 2px solid darken($purple, 5%);
    }
}

@mixin transition($type: all, $duration: 0.25s, $motion: ease, $delay: 0s) {
  transition: $type $duration $motion $delay;
}

@mixin vertical-align($position: relative, $top: 50%) {
  position: $position;
  top: $top;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


// General Style
* {
    box-sizing: border-box;
}

body {
    position: relative;
}

a {
    @include transition;
    &:hover {
        color: $purple;
        text-decoration: none;
    }
}

.content {
    max-width: 1020px;
    margin: auto;
}

.button {
    @include btn;
    padding: 7.5px 20px;
}

// Navigation
.navigation {
    background: $white;
    height: 70px;
    padding: 20px 40px;
    width: 100%;
}

.navigation__left {
    float: left;
}

.navigation__right {
    float: right;
}

// Body
.hero {
    // background-color: $black;
    height: calc(100vh - 80px);
    position: relative;
    background-image: url(/assets/marketing/group.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content--hero {
    color: $white;
    text-align: center;
    @include vertical-align;
}

.hero__title {
    @extend %alpha;
    // color: $purple;
    color: $white;
    margin-bottom: 40px;
}

.hero__copy {
    @extend %bravo;
    color: $white;
    margin-bottom: 30px;
}

.hero__btn {
    // @include btn;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 0;
    color: $white;
    display: inline-block;
    font-family: $sans-serif;
    font-weight: 300;
    min-height: 35px;
    min-width: 120px;
    padding:  17.5px 50px;
    text-align: center;
    text-transform: uppercase;
    @include transition;

    &:hover {
        background-color: $white;
        color: $black;
    }
}

.continue-arrow {
    bottom: 5vh;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;

    &:hover {
        cursor: pointer;
    }
}

.stats {
    background-color: $purple;
    display: none; //Hide until we have stats
    width: 100vw;
}

.content--stats {
    height: 170px;
}

.stats__tout {
    display: block;
    float: left;
    text-align: center;
    width: 33.33%;
    @include vertical-align;
}

.stats__num {
    @extend %charlie;
    margin-bottom: 20px;
}

.stats__subtitle {
    @extend %delta;
}

// Mission
.mission {
    background-image: url(/assets/marketing/headphones.jpg);
    background-position: 110% 100%;
    background-repeat: no-repeat;
    background-size: 30%;
}

.content--mission {
    height: 100vh;
}

.mission__left,
.mission__right {
    @include vertical-align;
}

.mission__left {
    float: left;
    text-align: center;
    width: 50%;
}

.mission__right {
    float: right;
    width: 50%;
    padding-right: 10%;
}

.content__title {
    @extend %echo;
    margin-bottom: 15px;
}

.content__copy {
    @extend %foxtrot;
    color: $dark-font;
    margin-bottom: 20px;
}

.content__title--process {
    max-width: 600px;
    margin: 0 auto 50px;
}

.content__btn {
    @include btn;
    font-size: 14px;
    line-height: 20px;
    min-width: 150px;
    padding: 10px 20px;
}

.process {
    background-color: $light-grey;
    display: inline-block;
    margin-top: -10px;
    text-align: center;
    width: 100vw;
}

.content--process {
    height: 60vh;
}

.process__wrapper {
    display: inline-block;
    width: 100%;
    @include vertical-align;
}

.process__tout {
    display: block;
    float: left;
    position: relative;
    width: 33.33%;

    &::after {
        content: '';
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        z-index: 0;
        height: 1px;
        background-image: url(/assets/marketing/dot.png);
        background-repeat: repeat-x;
        z-index: 1;
    }

    &:nth-child(1)::after {
        width: 50%;
        left: 50%;
    }

    &:nth-child(3)::after {
        width: 50%;
        right: 50%;
    }
}

.process__title {
    @extend %golf;
    font-weight: 500;
    margin-bottom: 5px;
}

.process__desc {
    @extend %hotel;
    margin-bottom: 20px;
}

// .process__touts {
//     display: inline-block;
//     width: 100%;
// }

.process__num {
    background-color: $light-grey;
    border: 1px solid $purple;
    border-radius: 100%;
    box-shadow: 0 0 1px #d7d8db,0 0 0 4px #fbfbfd,0 0 1px 5px hsla(33,14%,69%,.5),0 0 0 14px #fbfbfd;
    display: inline-block;
    font-family: $serif-reg;
    font-size: 15px;
    color: $dark-font;
    padding: 8px 8px 7px;
    position: relative;
    z-index: 10;
    line-height: 15px;
}

.landing-cta {
    display: inline-block;
    height: 40vh;
    position: relative;
    width: 100vw;
}

.cta__img {
    bottom: 0;
    height: 250px;
    position: absolute;
    right: 15vw;
    width: auto;
}

.landing-cta__title {
    @extend %india;
}

.landing-cta__subtitle {
    @extend %golf;
    margin-bottom: 20px;
}

.landing-cta__left {
    padding-left: 7.5vw;
}

.content--landing-cta {
    @include vertical-align;
}

// Footer
.footer {
    background-color: $dark-purple;
    bottom: -215px;
    height: 215px;
    left: 0;
    position: absolute;
    width: 100%;
}

.footer__icon {
    display: block;
    margin: 0 auto;
    width: 180px;
    @include vertical-align;
}
