@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin submit-button($color: #6f5499) {
    margin-top: 20px;
    background-color: $color;
    border: none;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
    color: white;
    padding: 10px 20px;
}

@mixin slide($function: slideIn, $duration: 0.5s, $delay: 0s) {
    -webkit-animation: $function $duration $delay forwards ease;
    -moz-animation: $function $duration $delay forwards ease;
    -o-animation: $function $duration $delay forwards ease;
    -ms-animation: $function $duration $delay forwards ease;
    animation: $function $duration $delay forwards ease;
}

@mixin transition($type: all, $duration: 0.25s, $motion: ease) {
  transition: $type $duration $motion;
}

@mixin floating($duration: 2s) {
  -webkit-animation: Floating $duration infinite ease-in-out;
  -moz-animation-name: Floating $duration infinite ease-in-out;
}

@keyframes slideIn {
  0%   {transform:translateX(100%);}
  100% {transform:translateX(0);}
}

@keyframes slideOut {
  0%   {transform:translateX(0);}
  100% {transform:translateX(100%);}
}

@keyframes slideUp {
  0%   {transform:translateY(200%);}
  100% {transform:translateY(0);}
}

@keyframes Floating{
    from {transform:translate(0, 0px);}
    65% {transform:translate(0, 15px);}
    to {transform: translate(0, -0px);    }
}

@-webkit-keyframes Floating{
    from {-webkit-transform:translate(0, 0px);}
    50% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    50% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}
