@import "variables";

.user-profile {
    padding-top: 0;
    .mobile-container {
        position: relative;
        // background-image: url("/assets/profile_bg.jpg");

        background-color: $off-white;
    }
    .mobile-header {
        display: none;
    }
}
.profile-section__vert-align {
    @include vertical-align;
}
.profile-section {
    padding: 15px 0;
}
.profile__bottom {
    height: 100vw;
    padding: 15px 6.5%;
    margin-top: 20px;
}
.profile__top {
    height: 30vh;
    padding: 0;
    width: 100%;
    top: 0px;
    background-color: #817bdf;
    background-image: url(/assets/background.jpg);
    background-position-y: 0;
    background-size: cover;
    z-index: 1;
    // padding-top: 60px;
}
.profile__name {
    color: white;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0;
}
.profile__avatar {
    height: 15vh;
    width: 15vh;
    text-align: center;
    background-color: white;
    text-align: center;
    background-position: center;
    background-size: 100%;
    margin: auto;
    border-radius: 100%;
}
.profile__inline-tout {
    display: inline-block;
    width: 100%;
}
.profile__legend {
    float: right;
    width: 33%;
    margin-top: 12.5px;
}
.legend {
    margin: 0;
}
.legend__key {
    list-style: none;
    color: $charcoal;
    font-size: 12px;
    margin-bottom: 5px;
}
.key-color {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 5px;
}
.inline-tout__item {
    box-sizing: border-box;
    display: block;
    width: 33.33%;
    height: 60px;
    float: left;
    text-align: center;
    position: relative;

    & + & {
        border-left: 1px solid $charcoal;
    }
}
.inline-tout__sub-title {
    color: $charcoal;
    font-size: 12px;
    margin: 0;

    .fa-info-circle {
        margin-left: 5px;
    }
}
.inline-tout__title {
    color: $charcoal;
    font-size: 36px;
    margin: 0 0 10px;
    font-weight: 300;
}


// Desktop Styles
.user-profile--desktop {
    .profile__top {
        top: -5px;
        position: relative;
        background-color: $lavender;
    }

    .profile__middle {
        top: -5px;
        position: relative;
        background-color: $off-white;
        padding: 30px 0;
    }

    .inline-tout__item {
        & + .inline-tout__item {
            border-color: $dark-gray;
        }
    }

    .inline-tout__title {
        margin-bottom: -10px;
    }

    .inline-tout__title,
    .inline-tout__sub-title {
        color: $dark-gray;
    }

    .profile__bottom {
        height: initial;
    }

    .legend {
        text-align: left;
    }

    .legend__key {
        color: $dark-gray;
    }

    .profile__legend {
        margin-top: 5vh;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .user-profile--mobile {
        overflow: scroll;
    }
}

// iPhone 5
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .user-profile--mobile {
        height: 100vh;
        overflow: hidden;
        .btn--outline {
            padding: 2.5px 24px;
        }
        // .profile__top {
        //     padding-top: 50px;
        // }
        .profile__bottom {
            margin-top: 0;
        }
        .profile__legend {
            margin-top: 0;
        }
        // .profile__avatar {
        //     height: 75px;
        //     width: 75px;
        // }
    }
}

/* iPhone 6 */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .user-profile--mobile {
        height: 100vh;
        overflow: hidden;
        // .profile__avatar {
        //     height: 100px;
        //     width: 100px;
        // }
    }
}
