@import "mixins";
@import "variables";
$orange-2048: #ffb400;

#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}
.slides__title {
  text-align: center;
  color: #ffb400;
  margin: 20px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0px;


  &:first-of-type {
    margin-top: 50px;
  }
}
.slides__sm-text {
  text-align: center;
  color: $orange-2048;
  margin: -20px 0 20px;
  font-size: 12px;
}
.slides__tut-img {
  background-position:center center;
  background-size: 90%;
  background-repeat:no-repeat;
  margin: 0 auto;
  height: 25vw;
  width: 25vw;
}
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  bottom: 25vh;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
  background: $orange-2048;
  color: $white;
  width: 100px;
  text-align: center;
  padding: 5px 0px;
  border-radius: 2px;
  text-decoration: none;
  @include transition();

  &:hover {
    background-color: $dark-orange;
  }
}
.slides-navigation a.prev {
  left: 20%;
}
.slides-navigation a.next {
  right: 20%;
}
.slides__control {
  // hide
}
.fingerpoint {
  position: relative;
  &::after {
  display: inline-block;
  height: 100px;
  width: 100px;
  position: absolute;
  content: '';
  bottom: -70px;
  background-image: url(/assets/2048-finger-point.png);
  background-size: 100%;
  right: 0;
}
}
.slides__link {
  background-color: #bbada0;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 2px;
  padding: 10px 0;
  width: 35vw;
  display: inline-block;
  max-width: 200px;
  margin: auto;
  text-align: center;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}
.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 15vh;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #aaa;
  background-color: #aaa;
  border-radius: 15px;
  width: 7px;
  height: 7px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #ed995b;
  border: 2px solid #ed995b;
}


@media only screen and (max-width: 668px) {
  .slides__sm-text,
  .slides__title {
    width: 100vw;
  }
  .slides__link {
    margin: 30px 32.5vw;
  }
  .slides__tut-img {
    margin:0 25vw;
    height:50vw;
    width:50vw;
  }
  .slides-navigation a.prev {
    left: 10%;
  }
  .slides-navigation a.next {
    right: 10%;
  }
}
