$grayMediumLight: #eaeaea;
$dark-font: #4A4A4A;
$dark-blue: #10172B;
$dark-teal: #4fd1b5;
$purple: #6f5499;
$purple-border: #c8ade0;
$purple-light: #ddd8e9;
$black: #000;
$credits-red: #D9232B;
$white: #fff;
$red: #e74c3c;
$orange: #F2BB7C;
$silver: #bdc3c7;
$clouds: #ecf0f1;
$teal: #56E7C8;
$grayMediumLight: #eaeaea;
