$grayMediumLight: #eaeaea;
$dark-font: #4A4A4A;
$dark-blue: #10172B;
$dark-teal: #4fd1b5;
$purple: #6f5499;
$purple-border: #c8ade0;
$purple-light: #ddd8e9;
$black: #000;
$credits-red: #D9232B;
$white: #fff;
$red: #e74c3c;
$red-light: #F08080;
$orange: #F2BB7C;
$orange-light: #FFD9AD;
$orange-flat: #e67e22;
$dark-orange: #edae65;
$silver: #bdc3c7;
$clouds: #ecf0f1;
$teal: #56E7C8;
$grayMediumLight: #eaeaea;
$dark-seafoam: #03a679;
$clay: #DB704E;
$tan: #FDE2C7;
$midnight-blue: #14112c;
$lavender: #817bdf;
$teal: #4fd2c2;
