$grayMediumLight: #eaeaea;
$dark-font: #4A4A4A;
$dark-blue: #10172B;
$dark-teal: #4fd1b5;
$purple: #6f5499;
$purple-border: #c8ade0;
$credits-red: #D9232B;
$red: #e74c3c;
$red-light: #F08080;
$orange: #F2BB7C;
$orange-light: #FFD9AD;
$orange-flat: #e67e22;
$dark-orange: #edae65;
$silver: #bdc3c7;
$grayMediumLight: #eaeaea;
$dark-seafoam: #03a679;
$clay: #DB704E;
$tan: #FDE2C7;
$midnight-blue: #14112c;
$midnight: #10162c;


// Fonts
$xs: 12px;
$sm: 14px;
$md: 16px;
$lg: 18px;
$xl: 22px;
$xxl: 24px;


// New Palette
$lavender: #817bdf;
$teal: #4fd2c2;
$charcoal: #727070;
$purple-light: #aaa7df;
$fb-blue: #448ccb;
$tw-blue: #2ab5ee;
$blue-steel: #a5b0bd;
$clouds: #ecf0f1;
$black: #000;
$white: #fff;
