<section class="form-errors-bar js-form-errors-bar">
    <i class="fa fa-times js-form-errors__close form-errors__close" aria-hidden="true"></i>

    <ul class="js-form-error__list form-error__list">
        <li class="js-form-error__item form-error__item"></li>
    </ul>
</section>
